.ipynb_checkpoints/
.nextflow/
.nextflow.log*
output_test/
output*/
output_test_new/
output/
work/
future*
*pdf
*png
*svg
*.ipynb
test*
test/*
list.eqtls*
*html
report.html
scripts/.ipynb_checkpoints
.vscode*
report.html

# large Files
*.sif
singularity*
