// nextflow.config for use in DNA filtration + kinship pipeline

// Define parameters
params {
    threads = 10
    partition = 'standard'
    account = 'manichaikul'
    
    // Directories
    wd = "/standard/vol185/TOPMed/Freeze_10b/88293/topmed-dcc/exchange/phs001217_TOPMed_WGS_GenSalt/Combined_Study_Data/Genotypes/freeze.10b/phased"
    out = "/standard/vol185/cphg_Manichaikul/users/csm6hg/nextflow_dna/output_test"
    
    // Metadata
    samp = "/standard/vol185/cphg_Manichaikul/users/csm6hg/metadata/topchef_samples_bcf.txt"
    metadata = "/standard/vol185/cphg_Manichaikul/users/csm6hg/metadata/metadata_9_23_2024_CSM.txt"
    chrom_file = "/standard/vol185/cphg_Manichaikul/users/csm6hg/data/chromosomes"
    
    // VCF/Bed/other files
    out_vcf_full =  "freeze.10b.pass_only.snps_indels50_mac1.phased.TOPchef.vcf.gz"
    out_vcf_filt = "filt.thin250.TOPchef.vcf.gz"
    king_bed_out = "filt.maf0.01_phased.TOPchef"

    // PCA and GDS objects
    gds_filename = "filt.thin250.TOPchef.gds"
    pca_rds = "pca.genome.filt.thin250.maf0.05.rds"
    pca_plot = "pc1_6_selfreportrace_filtsnps_maf0.05.png"
    tensorqtl_pca = "filt_dna_pc1_5_topchef.txt"
}

// Define profiles for slurm execution environment
profiles {
    slurm {
        process {
            executor = 'slurm' // Use SLURM as the executor
            clusterOptions = "--partition=${params.partition} \
            --account=${params.account}" // SLURM partition, account
            cpus = "${params.threads}" // Number of threads per job
            memory = '20 GB' // Memory per job
            errorStrategy = 'finish'
        }
    }
}

// Define default process settings
process {
    // Set default resource allocations
    cpus = "${params.threads}"
    memory = '20 GB'
    errorStrategy = 'finish'
}

// Diagram configuration
dag {
    enabled = true
    file = 'flowchart.png'
    format = 'png'
}

// Report configuration
report {
    enabled = true
    file = 'report.html'
}

// Overwrite existing DAG and report files
dag.overwrite = true
report.overwrite = true
